body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    text-align: center;
    color: #333;
}

.field {
    margin-top: 15px;
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

/* "Entry Fee"와 "Exit Fee"를 제외한 필드가 각각 한 줄을 차지하도록 조정 */
.field input[type="number"],
.field select {
    display: block; /* 각 필드를 블록 요소로 만들어 한 줄을 차지하게 함 */
    width: 90%; /* 부모 요소의 전체 너비를 차지하게 함 */
    margin-bottom: 10px; /* 필드 간의 간격 조정 */
    border-radius: 4px;
    font-size: 18px;
    border: 2px solid #ccc; /* 테두리 스타일 조정 */
    padding: 10px 15px;
}

.quantity-input {
    display: flex;
}

#quantity,
#quantity-type {
    margin: 5px;
}

.quantity-field input[type="number"],
.quantity-field select,
.position-button,
.button {
    padding: 10px 15px; /* 패딩 증가 */
    font-size: 18px; /* 폰트 크기 조정 */
    border-radius: 4px;
    border: 2px solid #ccc; /* 테두리 스타일 조정 */
}

.quantity-input label {
    display: flex;
    align-items: center;
}

.position-button {
    background-color: lightgrey; /* 테마 색상 적용 */
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: calc(50% - 10px);
    border: none; /* 테두리 제거 */
}

.long:hover,
.long.active {
    background-color: #089981;
}

.short:hover,
.short.active {
    background-color: #f23645;
}

.long:focus {
    outline: 3px solid #089981;
    outline-offset: 2px;
}

.short:focus {
    outline: 3px solid #f23645;
    outline-offset: 2px;
}

.fees {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

.fees input[type="number"] {
    width: 50%; /* 부모 요소의 전체 너비를 차지하게 함 */
    border-radius: 4px;
    font-size: 18px;
    border: 2px solid #ccc; /* 테두리 스타일 조정 */
    padding: 10px 15px;
}

/* .fees image {
    width: 30px;
    height: 30px;
    object-fit: cover;
} */

.info-icon {
    display: inline-block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #bbdefb;
    color: white;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    font-size: 16px;
}

/* Tooltip for the info icon */
.info-tooltip {
    display: none;
    width: 200px;
    background-color: #f9f9f9;
    color: #000;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.info-icon:hover .info-tooltip {
    display: block;
}

.info-icon:hover {
    background-color: #95cfff;
}

#calculate-btn {
    background-color: #4a90e2; /* 테마 색상 적용 */
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: calc(100% - 10px);
    border: none; /* 테두리 제거 */
}

#calculate-btn:hover {
    background-color: #3e79bd;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
}

/* 수수료 정보 팝업 */
.fee-info-popup {
    display: none; /* 기본적으로 팝업은 숨겨져 있습니다. */
    position: absolute;
    width: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* 팝업 위치를 적절히 조정합니다. */
    top: 30px;
    right: 0;
}

/* 활성화된 팝업 스타일 */
.fee-info-popup.active {
    display: block;
}
